.arsenal-regular {
  font-family: "Arsenal", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.arsenal-bold {
  font-family: "Arsenal", sans-serif;
  font-weight: 600;
  font-style: normal;
}

body,
html {
  height: 100%;
  width: 100%;
}

body {
  background-color: #dcd6c4;
}
