body {
  background-color: #dcd6c4;
  font-family: Arsenal, sans-serif;
}

.header_li2 {
  font-size: 18px;
  font-family: "Arsenal SC", sans-serif;
  font-weight: 600;
}

.section_li2 {
  font-family: "Arsenal SC", sans-serif;
  line-height: 1.6em;
  font-size: 18px;
  margin-bottom: 1.5em;
  text-align: justify;
}

.long_text {
  column-count: 1;
  column-gap: 40px;
  padding: 10px;
}

.footer_li2 {
  color: #ddd7c5;
  background-color: #333;
  height: 80px;
}

.footer_li2 p {
  margin: 0 auto;
  width: 50%;
  padding-top: 30px;
}
